@import 'tailwindcss' theme(static);
@import '@nuxt/ui';

@theme {
  --color-primary: var(--color-primary);
  --color-background: var(--color-background);
  --color-surface: var(--color-surface);
  --color-text: var(--color-text);
  --color-brand: var(--color-brand);
  --color-secondary: var(--color-secondary);
}

:root {
  /* Changing the default Nuxt UI container component size */
  --ui-container: var(--container-8xl);
}

body {
  /* Changing the antialiased font to subpixel-antialiased */
  @apply subpixel-antialiased;
}

/* Adding a custom utility class */
@utility text-color-dimmed {
  color: var(--ui-text-dimmed);
}
@utility text-color-muted {
  color: var(--ui-text-muted);
}
@utility text-color-toned {
  color: var(--ui-text-toned);
}
@utility text-color-normal {
  color: var(--ui-text);
}
@utility text-color-highlighted {
  color: var(--ui-text-highlighted);
}

@utility bg-color-muted {
  background-color: var(--ui-bg-muted);
}
@utility bg-color-elevated {
  background-color: var(--ui-bg-elevated);
}

@utility border-color-muted {
  border-color: var(--ui-border-muted);
}
